/*
Wedding Landing Page
font-family: 'Quicksand', sans-serif;
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1{
  font-size: 60px;
  font-weight: 300;
  opacity: 0.84
}

h1:hover{
  font-weight: 300;
  color: black;
  font-size: 60.5px;
}

footer{
  font-size: 15px; 
  text-align: center;
}
/******************************************
/* LAYOUT
/*******************************************/

.chinese{
  font-weight: 300;
  opacity: 0.7;
}

.desktop{
  line-height: 150%;
  display: block;
}

.banner{
  width: 100%;
  height: 20%;
  margin-top: 50px;
  text-align: center;
  font-weight: 300; 
}

.date{
  width: 100%;
  height: 15%;
  margin-top: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

hr{
  margin-top: 20px;
  width: 90%;
}

a { 
  color: inherit; 
  text-decoration: none;
} 


/*.box .clearfix{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  float: right;
  margin-top: 20px;

}*/

.weddingDetails{
  width: 90%;
  height: 60%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 23px;
  line-height: 180%;
  /*float: left;*/
}

.googleForm{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}


footer{
  width: 100%;
  height: 80%;
  padding-top: 8%;
  padding-right: 1%;
  padding-left: 5%;
  padding-bottom: 1%;
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 15px;
  background: #EEEEEE;
  text-align: right;

}

hr{
  border: 0.5px solid #ddd;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.mobile {
  display: none;
  position: relative;
  width: 100%;
  top: 0;
  margin-top: 3.5%;
}

.mobile div {
  display: none;
}

.mobile button {
  position: absolute;
  top: 15px;
  right: 5.5%;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255,255,255,0.8) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-size: 80%;
  width: 50px;
  height: 50px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.mobile button.expanded {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}

.mobile a {
  display: block;
}

.mobile a {
  background: #EEEEEE;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: 300;
  font-size: 30px;
}

.mobile a:hover{
  border-top: 1px solid #ddd;
}

a:hover,
a:active,
a:focus {
  background: white;
  font-weight: 500;
  color: black;
}

.desktop {
  display: block;
  overflow: hidden;
  width: 90%;
  margin-left: 3.5%;
  margin-top: 1.5%;
}

.desktop a {
  width: 25%;
  float: left;
  /*border-right: 1px solid #ddd;*/
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

.desktop a:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  }

.desktop a:last-child {
  border-right: none;
}

@media (max-width: 1025px) {
  .mobile {
    display: block;
  }

  .bottomBorder{
    display: none;
  }

  .desktop {
    display: none;
    visibility: hidden;
  }

  .weddingDetails{
    font-size: 20px;
    line-height: 150%;
    float: left;
  }

   h1{
      font-size: 50px;
      font-weight: 400;
      /*opacity: 0.8;*/
    }

    .subtitles{
      font-size: 30px;
      font-weight: 400;
    }
}